@media (max-width: 500px) {
  .hero {
    padding: 1rem;
  }
  .hero-p {
    font-size: 0.8rem;
  }
  .project {
    flex-direction: column;
  }
  .project-image {
    padding: 0;
    padding-top: 2vh;
  }
  .project-image img {
    height: 50vh;
    max-width: 75vw;
  }
  .project-contents {
    padding: 1vh 4vw;
    min-height: 60vh;
  }
  .button {
    padding-inline: 5vw;
    padding-block: 1.2vh;
  }
  .contact {
    flex-direction: column;
    text-align: center;
  }
  .contact div {
    display: none;
  }
  .nav-link {
    font-size: 0.9rem;
  }
  .nav-img {
    height: 5vh;
  }
}
